In [1]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [3]:
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [8]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [10]:
import pandas as pd
import numpy as np

In [12]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       1.579064
       two      -0.242889
baz    one       0.066463
       two       0.978285
foo    one      -0.468827
       two       0.361530
qux    one       0.384712
       two      -1.109931
dtype: float64

In [13]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [14]:
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [15]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [16]:
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -0.276785
     two    1.123318
baz  one   -1.685152
     two    0.251436
foo  one   -0.547983
     two    0.039119
qux  one    1.091627
     two    0.114055
dtype: float64

In [18]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.086331 -0.607078 -0.018215 -0.607931
    two  0.152407 -0.041703  0.303751  0.102885
baz one -0.546906 -0.955335 -0.871735 -1.741306
    two -0.852085 -0.175304  0.770201  0.494928
foo one  0.698837 -2.024771  1.823659  0.814602
    two  0.231564  0.689661 -1.304323 -0.908776
qux one  0.056421 -0.601120 -1.392280  0.021793
    two -0.257606  0.351165 -0.813768  0.011359

In [21]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first       bar                 baz                 foo                 qux  \
second      one       two       one       two       one       two       one
A      -1.03762  1.644512 -1.416647 -0.970885 -1.600928 -1.334222 -0.067581
B       0.43552  0.451415  1.430022  0.004067 -0.200966  0.114013  0.500041
C      -1.53744 -1.126035 -0.183356 -0.342409 -1.116553  0.976319 -1.027403

first
second       two
A      -1.470693
B       0.543712
C      -0.945655

In [22]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one     0.269469  2.079329  0.679178  0.458815 -0.047167 -1.179430
      two    -0.363748  0.857970 -1.090699 -0.611130 -0.010243  0.004634
baz   one     1.204067  0.473586 -1.119247  1.061111 -0.103172  0.062957
      two     1.490294  0.100560  0.420823 -0.815741  0.431001 -0.628811
foo   one     0.835644 -0.305006  0.266854  0.760116 -0.121726  1.851486
      two    -1.122142  0.944666  0.621451  0.327123 -0.847571  2.037163

In [23]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)   -0.069154
(bar, two)   -0.953589
(baz, one)    0.839167
(baz, two)   -0.792020
(foo, one)   -2.037364
(foo, two)   -1.925400
(qux, one)   -2.306741
(qux, two)   -0.013927
dtype: float64

In [24]:
pd.set_option('display.multi_sparse', False)

In [25]:
pd.set_option('display.multi_sparse', True)

In [26]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [27]:
index.get_level_values('second')

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [28]:
df

first       bar                 baz                 foo                 qux  \
second      one       two       one       two       one       two       one
A      -1.03762  1.644512 -1.416647 -0.970885 -1.600928 -1.334222 -0.067581
B       0.43552  0.451415  1.430022  0.004067 -0.200966  0.114013  0.500041
C      -1.53744 -1.126035 -0.183356 -0.342409 -1.116553  0.976319 -1.027403

first
second       two
A      -1.470693
B       0.543712
C      -0.945655

In [29]:
df['bar']

second      one       two
A      -1.03762  1.644512
B       0.43552  0.451415
C      -1.53744 -1.126035

In [30]:
df.columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])